* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main-section {
    width: 100%;
    height: 447px;
    display: flex;
    padding-left: 20px;
    background-image: linear-gradient(to right, rgba(118, 111, 213, 1), rgba(0, 0, 0, 0));
    align-items: center;
    justify-content: space-between;
}

.main-information {
    font-size: 25px;
    font-weight: 600;
    color: white;

}

.main-image img {
    width: 454px;
    height: 447px;
}

.title2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    margin-top: 30px;
    color: #0F5F5F;
}

.wrapper {
    width: 1100px;
    height: auto;
    position: relative;
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #766FD5;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    width: 333px;
    height: 500px;
    list-style: none;
    background: #D1EEFE;
    cursor: pointer;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.carousel .card .img {
    background: #8B53FF;
    margin-top: 35px;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
    color: #07006D;
}

.carousel .card span {
    color: #0F5F5F;
    font-size: 1.31rem;
    text-align: center;
}


.third-section {
    background-color: #E6EDF4;
    width: 100%;
    height: auto;
    padding: 0px 80px;
}

.visi-misi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.visi-misi h2 {
    font-size: 28px;
    font-weight: 500;
    color: #0F5F5F;
}

.visi-misi p {
    font-size: 25px;
    font-weight: 500;
    color: #0F5F5F;
    margin-top: 10px;
    margin-bottom: 60px;
}

.visi-misi .line {
    margin-left: 20px;
}

.title3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 60px;
    text-align: center;
}

.title3 p {
    font-size: 36px;
    font-weight: 600;
    color: #0F5F5F;
}

.title3 p span {
    color: #4F46C9;
}

.fourth-section {
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.reason-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 40px;
}

.icons {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    color: #0F5F5F;
}

.icons img {
    width: 225px;
    height: 2112.5px;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.line {
    width: 124px;
    height: 5px;
    background-color: #0F5F5F;
}

/*=======================================================================*/
@media screen and (max-width: 1100px) {
    .wrapper {
        width: 550px;
        padding: 0 17.5px;
    }

    .wrapper i {
        height: 25px;
        width: 25px;
        font-size: 0.625rem;
        line-height: 25px;
        box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.23);
    }

    .wrapper i:first-child {
        left: -11px;
    }

    .wrapper i:last-child {
        right: -11px;
    }

    .wrapper .carousel {
        grid-auto-columns: calc((100% / 3) - 6px);
        gap: 8px;
        border-radius: 4px;
    }

    .carousel .card {
        width: 166.5px;
        height: 250px;
        padding-bottom: 12.5px;
        border-radius: 4px;
    }

    .carousel .card .img {
        background: #8B53FF;
        margin-top: 17.5px;
        height: 74px;
        width: 74px;
    }

    .card .img img {
        width: 70px;
        height: 70px;
        border: 2px solid #fff;
    }

    .carousel .card h2 {
        font-weight: 500;
        font-size: 0.78rem;
        margin: 15px 0 2.5px;
    }

    .carousel .card span {
        font-size: 0.655rem;
    }

    .container {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 750px) {
    .main-section {
        height: 223.5px;
        padding-left: 10px;
    }

    .main-information {
        font-size: 12.5px;
    }

    .main-image img {
        width: 227px;
        height: 223.5px;
    }

    .title2 {
        font-size: 10px;
        margin-top: 15px;
    }


    .third-section {
        padding: 0px 40px;
    }

    .visi-misi h2 {
        font-size: 14px;
    }

    .visi-misi p {
        font-size: 12.5px;
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .visi-misi .line {
        margin-left: 10px;
    }

    .title3 {
        margin-bottom: 10px;
        margin-top: 30px;
    }

    .title3 p {
        font-size: 18px;
    }

    .fourth-section {}

    .reason-icon {
        margin-bottom: 20px;
    }

    .icons {
        width: 150px;
        height: 150px;
        font-size: 10px;
    }

    .icons img {
        width: 112.5px;
        height: 112.5px;
    }


    .line {
        width: 62px;
        height: 2.5px;
    }


}

@media screen and (max-width: 500px) {
    .container{
        margin-top: 0;
    }
    .wrapper{
        transform: scale(0.65);
    }

}

@media screen and (max-width: 393px){
    .main-section {
        height: 200px;;
    }

    .main-information {
        font-size: 10px;
    }

    .main-image img {
        width: 227px;
        height: 223.5px;
    }

    .wrapper{
    transform: scale(0.60);
    }

}

@media screen and (max-width: 365px){
    .main-section {
        height: 150px;;
    }

    .main-information {
        font-size: 10px;
    }

    .main-image img {
        width: 170px;
        height: 170px;
    }

    .wrapper{
    transform: scale(0.60);
    }

}