*{
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.main-section{
    width: 100%;
    height: 447px;
    padding: 0px 64px;
    display: flex;
    background-image: linear-gradient(to right, rgba(118,111,213,1), rgba(0,0,0,0));
    align-items: center;
}

.main-information{
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.main-image{
    width: 454px;
    height: 447px;
}

.title2{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    justify-content: center;
    margin-top: 60px;
    color: #0F5F5F;
}
.container{
  display: flex;
  justify-content: center;
  padding: 80px;
}
.wrapper {
    max-width: 1240px;
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #766FD5;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }

  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }

  .wrapper i:first-child{
    left: -22px;
  }

  .wrapper i:last-child{
    right: -22px;
  }

  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .carousel.no-transition {
    scroll-behavior: auto;
  }

  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }

  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }

  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel .card {
    scroll-snap-align: start;
    width: 382;
    height: 500px;
    list-style: none;
    background: #D1EEFE;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }

  .carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }

  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }

  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
    color: #07006D;
  }

  .carousel .card span {
    color: #0F5F5F;
    font-size: 1.31rem;
    text-align: center;
  }

  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }

  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }

.third-section{
    background-color: #E6EDF4;
    width: 100%;
    height: 300px;
    padding: 0px 80px;
}

.visi-misi h2{
    font-size: 28px;
    font-weight: 500;
    text-decoration: underline;
    color: #0F5F5F;
    margin-bottom: 20x;
}

.visi-misi p{
    font-size: 25px;
    font-weight: 500;
    color: #0F5F5F;
    margin-bottom: 60px;
}

.title3{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 60px;
    color: #0F5F5F;
}

.fourth-section{
    background-color: white;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.reason-icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 50px; 
}

.icons{
    font-size: 20px;
    font-weight: 300;
    color: #0F5F5F;
}
.icon img{
    width: 100px;
    height: 100px;
}
