 {
     margin: 0;
     padding: 0;
 }

 .content {
     display: flex;
     flex-direction: column;
     align-items: center;
     font-family: 'Poppins', sans-serif;

 }

 .head {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     margin-bottom: 20px;
     width: 100%;
 }

 .head h1 {
     font-size: 35px;
     color: #298888;
     margin-right: auto;
     margin-left: 6%;
 }

 .head .head-line {
     background-color: #0F5F5F;
     height: 5px;
     width: 88%;
 }

 .container-box {
     width: 1297.7px;
     height: 900px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: rgba(209, 238, 254, 0.2);
     border-radius: 10px;
     ;

 }

 .container-box form {
     width: 583.965px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
 }

 .container-box form>div {
     margin-bottom: 40px;
 }

 .container-box form label {
     font-size: 25px;
     font-weight: 550;
     color: black;
     margin-bottom: 5px;
 }

 .container-box form input {
     width: 439px;
     height: 45px;
     border-radius: 10px;
     font-size: 25px;
     font-weight: 550;
     color: black;
     background-color: #D1EEFE;
     border: none;
 }

 .container-box form select {
     width: 439px;
     height: 45px;
     padding-left: 10px;
     padding-right: 10px;
     border-radius: 10px;
     font-size: 25px;
     font-weight: 550;
     color: black;
     background-color: #D1EEFE;
     border: none;
 }

 .container-box form .name {
     display: flex;
     flex-direction: column;
 }

 .container-box form .email {

     display: flex;
     flex-direction: column;
 }

 .container-box form .no-wa {

     display: flex;
     flex-direction: column;
 }

 .container-box form .doctor {

     display: flex;
     flex-direction: column;
 }

 .container-box form .complaint {
     display: flex;
     flex-direction: column;
 }

 .container-box form .complaint #complaint {
     width: 439px;
     height: 210px;
     border-radius: 10px;
     font-size: 25px;
     font-weight: 550;
     color: black;
     background-color: #D1EEFE;
     border: none;
     resize: none;
 }

 .container-box form .submit {
     width: 439px;
 }

 .container-box form .submit button {
     width: 149px;
     height: 52.25px;
     background-color: #4F46C9;
     border-radius: 25px;
     border: none;
     color: #E6F6F7;
     font-size: 25px;
     font-weight: 550;
 }

 .container-box .description {
     width: 713.735px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .container-box .description img {
     width: 512px;
     height: 290px;
     border: 1px black solid;
     border-radius: 10px;
     margin-bottom: 70px;
 }

 .container-box .description p {
     font-size: 25px;
     font-weight: 550;
     color: #298888;
     padding: 0px 80px;
     text-align: center;
 }

 @media screen and (max-width: 1300px) {
     .head {
         margin-top: 10px;
         margin-bottom: 10px;
     }

     .head h1 {
         font-size: 17.5px
     }

     .head .head-line {
         height: 2.5px;
     }

     .container-box {
         width: 648.85px;
         height: 450px;
         border-radius: 5px;

     }

     .container-box form {
         width: 292px;
     }

     .container-box form>div {
         margin-bottom: 20px;
     }

     .container-box form label {
         font-size: 12.5px;
     }

     .container-box form input {
         width: 219.5px;
         height: 22.5px;
         border-radius: 5px;
         font-size: 12.5px;
     }

     .container-box form select {
         width: 219.5px;
         height: 22.5px;
         padding-left: 5px;
         padding-right: 5px;
         border-radius: 5px;
         font-size: 12.5px;
     }

     .container-box form .complaint #complaint {
         width: 219.5px;
         height: 105px;
         border-radius: 5px;
         font-size: 12.5px;
     }

     .container-box form .submit {
         width: 219.5px;
     }

     .container-box form .submit button {
         width: 74.5px;
         height: 26.125px;
         border-radius: 12.5px;
         font-size: 12.5px;
     }

     .container-box .description {
         width: 357px;
     }

     .container-box .description img {
         width: 256px;
         height: 145px;
         border: 1px black solid;
         argin-bottom: 35px;
         border-radius: 5px;
     }

     .container-box .description p {
         font-size: 12.5px;
         padding: 0px 40px;

     }

 }

 @media screen and (max-width: 650px) {
     .head {
         margin-top: 10px;
         margin-bottom: 10px;
     }

     .head h1 {
         font-size: 17.5px
     }

     .head .head-line {
         height: 2.5px;
     }

     .container-box {
         width: auto;
         height: auto;
         flex-direction: column;
         align-items: center;

     }

     .container-box form {
         margin-top: 40px;
         margin-bottom: 40px;

     }

     .container-box .description p {
         margin-bottom: 60px;
     }
 }