.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1024%;
    background: linear-gradient(to right, #A1CCF4, #FDFDFD);

}

.container>.image img {
    width: 468px;
    height: 419px;
    margin: 100px;
}

.container>.quote {
    width: 975px;
    height: 169px;
    margin-bottom: 10px;
}

.container>.quote>blockquote {
    font-size: 34px;
    font-weight: 600;
    color: rgba(15, 95, 95, 1);
    text-align: center;
}

.container .imperative-sentences {
    width: 874px;
    height: 139px;
    border-radius: 10px;
    background-color: rgba(79, 70, 201, 0.78);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: inset 0 0 0 1px #000;
}

.container .imperative-sentences>p {
    font-size: 30px;
    color: white;
    font-weight: 500;
    text-align: center;
}

.info {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.info .line {
    width: 124px;
    height: 5px;
    background-color: #0F5F5F;
}

.info .title {
    font-size: 36px;
    color: #0F5F5F;
    margin-top: 50px;
}

.info .paragraph {
    font-size: 34px;
    color: #0F5F5F;
    margin-top: 50px;
}

.info .aboutUs {
    margin: 50px;
    display: flex;
    flex-direction: column;

}

.info .aboutUs #readMore {
    width: 242px;
    height: 87px;
    color: #FFFFFF;
    background-color: #4F46C9;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 550;
    margin-left: auto;
    margin-top: 50px;
}

.info .ourService {
    margin: 50px;
}

.info .images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info .images>img {
    margin: 50px;
    width: 359px;
    height: 240px;
    border: 1px black solid;
    border-radius: 10px;
}

.info #comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info #comments #title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info #comments #title>p {
    font-size: 36px;
    font-weight: 500;
    color: #0F5F5F;
}

.info #comments #title>p>span {
    color: #4F46C9;
}

.info #comments #container {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.info #comments .comment {
    width: 377px;
    height: 462px;
    margin: 50px;
    border-radius: 15px;
    background-color: #D1EEFE;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    align-items: center;

}

.info #comments .comment h1 {
    font-size: 30px;
    font-weight: 700;
    color: #07006D;
}

.info #comments .comment .theComment {
    width: 80%;
    height: 187px;
    font-size: 30px;
    color: #0F5F5F;
    display: flex;
    align-items: center;
    text-align: center;
}

.info #comments .comment .doubleComma {
    font-size: 100px;
    color: #07006D;
}

.info .ourDoctors {
    width: 100%;
    height: 812px;
    background: linear-gradient(to right, #A1CCF4, #FDFDFD);
}

.ourDoctors #doctors {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourDoctors #doctors .theDoctor {
    width: 450px;
    height: 571px;
    margin: 25px;
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ourDoctors #doctors .theDoctor header {
    width: 100%;
    height: 22px;
    border-radius: 15px 15px 0px 0px;
    background-color: #4F46C9;
}

.ourDoctors #doctors .theDoctor .profile {
    width: 129px;
    height: 126px;
    border-radius: 150px;
    border: 10px #298888 solid;
}

.ourDoctors #doctors .theDoctor .profile img {
    width: 129px;
    height: 126px;
    border-radius: 150px;
}

.theDoctor .identity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theDoctor .identity .name {
    font-size: 30px;
    font-weight: 550;
    color: #07006D;
}

.theDoctor .identity .job {
    font-size: 25px;
    font-weight: 550;
    color: #0F5F5F;
}

.theDoctor .licensi {
    width: 85%;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.theDoctor .licensi p {
    font-size: 20px;
    font-weight: 550;
    color: #0F5F5F;
    margin-right: auto;
}

.theDoctor .licensi div {
    width: 100%;
    height: 1px;
    background-color: black;
}

.theDoctor .consult {
    width: 242px;
    height: 87px;
    border-radius: 50px;
    background-color: #4F46C9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600px;
    margin-bottom: 30px;
}
.ourDoctors .title{
        margin-left: 50px;
    }
    .ourDoctors .line{
        margin-left: 50px;
    }


@media screen and (max-width: 1024px){
    .container>.image img {
        width: 234px;
        height: 210px;
        margin: 50px;
    }

    .container>.quote {
        width: 487px;
        height: 84px;
        margin-bottom: 5px;
    }

    .container>.quote>blockquote {
        font-size: 17px;
    }

    .container .imperative-sentences {
        width: 437px;
        height: 69.5px;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .container .imperative-sentences>p {
        font-size: 15px;
    }

    .info {
        width: 100%;
    }

    .info .line {
        width: 62px;
        height: 2.5px;
    }

    .info .title {
        font-size: 18px;
        margin-top: 25px;
    }

    .info .paragraph {
        font-size: 17px;
        margin-top: 25px;
    }

    .info .aboutUs {
        margin: 25px;

    }

    .info .aboutUs #readMore {
        width: 121px;
        height: 43.5px;
        border-radius: 25px;
        font-size: 15px;
        font-weight: 550;
        margin-top: 25px;
    }
    .info .ourService {
        margin: 25px;
    }


    .info .images>img {
        margin: 25px;
        width: 178.5px;
        height: 120px;
        border: 1px black solid;
        border-radius: 5px;
    }

    .info #comments #title>p {
        font-size: 18px;
        font-weight: 500;
    }

    .info #comments .comment {
        width: 188.5px;
        height: 231px;
        margin: 12px;
        border-radius: 7.5px;
        padding: 15px;
    }

    .info #comments .comment h1 {
        font-size: 15px;
        font-weight: 700;
    }

    .info #comments .comment .theComment {
        height: 93.5px;
        font-size: 15px;
    }

    .info #comments .comment .doubleComma {
        font-size: 50px;
    }

    .info .ourDoctors {
        width: 100%;
        height: 406px;
    }

    .ourDoctors #doctors .theDoctor {
        width: 225px;
        height: 285.5px;
        margin: 12.5px;
        border-radius: 7.5px;
    }

    .ourDoctors #doctors .theDoctor header {
        height: 11px;
        border-radius: 7.5px 7.5px 0px 0px;
    }

    .ourDoctors #doctors .theDoctor .profile {
        width: 64.5px;
        height: 63px;
        border-radius: 75px;
        border: 5px #298888 solid;
    }

    .ourDoctors #doctors .theDoctor .profile img {
        width: 64.5px;
        height: 63px;
        border-radius: 75px;
    }

    .theDoctor .identity .name {
        font-size: 15px;
    }

    .theDoctor .identity .job {
        font-size: 12.5px;
    }

    .theDoctor .licensi {
        padding: 15px;
    }

    .theDoctor .licensi p {
        font-size: 10px;
    }


    .theDoctor .consult {
        width: 121px;
        height: 43.5px;
        border-radius: 25px;
        font-size: 15px;
        font-weight: 300px;
        margin-bottom: 15px;
    }
    .ourDoctors .title{
        margin-left: 25px;
    }
    .ourDoctors .line{
        margin-left: 25px;
    }
}