body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    margin-top: 80px;
    margin-bottom: 80px;
}

.article-title {
    font-size: 36px;
    text-align: center;
    color: #0F5F5F;
    margin-top: 50px;
}

.article {
    margin-top: 100px;
    width: 100%;
    height: auto; 
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.article-content-1 {
    background-color: #D1EEFE;
    padding: 0px 0px 20px 0px;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    height: auto;
}

.article-content-2 {
    background-color: #D1EEFE;
    padding: 0px 0px 20px 0px;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    height: auto;
}

.article-content-3 {
    background-color: #D1EEFE;
    padding: 0px 0px 20px 0px;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    height: auto;
}

.article-content-title {
    font-size: 20px;
    text-align: justify;
    margin: 20px 20px 0px 20px;
    color: #0F5F5F;
    margin-top: 20px;
}

.article-content-text {
    font-size: 16px;
    text-align: justify;
    color: #000000;
    margin: 20px 20px 0px 20px;
    line-height: 1.5;
}

.article-content-image img {
    width: 100%;
    max-width: 500px;
    height: 400px;
    border-radius: 15px 15px 15px 15px;

}

a {
    text-decoration: none;
}