body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    margin-top: 0px;
    margin-bottom: 50px;
}

.article-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0F5F5F;
    margin-top: 25px;
}

.article-title h1 {
    font-size: 36px;
    font-weight: 600;
}

.line {
    width: 124px;
    height: 5px;
    background-color: #0F5F5F;
}

.article {
    margin-top: 50px;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.article a {
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-left: auto;
    margin-right: 25px;
}

.article a button {
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 22px;
    color: #FFFFFF;
    background-color: #4F46C9;
}

.article a button:hover {
    transform: scale(1.1);
}

.article a button:active {
    transform: scale(0.9);
}

.article-content-1 {
    background-color: #D1EEFE;
    padding: 0px 0px 20px 0px;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.article-content-2 {
    background-color: #D1EEFE;
    padding: 0px 0px 20px 0px;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.article-content-3 {
    background-color: #D1EEFE;
    padding: 0px 0px 20px 0px;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.article-content-title {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0px 20px;
    color: #0F5F5F;
    margin-top: 20px;
}

.article-content-title h2 {
    text-align: center;
}

.article-content-text {
    font-size: 16px;
    text-align: justify;
    color: #000000;
    margin: 20px 20px 0px 20px;
    line-height: 1.5;
}

.article-content-image img {
    width: 100%;
    max-width: 500px;
    height: 400px;
    border-radius: 15px 15px 15px 15px;

}

a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*====================================================================*/

@media screen and (max-width: 768px) {
    .article-title {
        margin-top: 0px;
        font-size: 25px;
    }

    .article {
        gap: 40px;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .article-content-1,
    .article-content-2,
    .article-content-3 {
        width: 370px;
    }

    .article-content-image img {
        width: 100%;
        height: 300px;
    }

    .article-title {
        margin-top: 25px;
    }

    .main {
        margin-top: 0;
        margin-bottom: 25px;
    }
}