/*login container*/

.login-content {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

.login-content-box {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.login-content-box .gambar-content {
    margin: 50px;
    border: 1px black solid;
    width: 623px;
    height: 372px;
    border-radius: 25px;
}

.login-box {
    margin: 50px;
    width: 553px;
    height: 629px;
    border-radius: 25px;
    background-color: #D1EEFE;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-box .title-login {
    width: 243px;
    height: 74px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #4F46C9;
}

.login-box .title-login h1 {
    color: white;
}

.login-box form {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.login-box form .main {
    display: flex;
    flex-direction: column;
}

.login-box form .main label {
    font-size: 20px;
    color: black;
    text-align: left;
}

.login-box form .main input {
    width: 382px;
    height: 57px;
    margin: 10px 0px;
    border-radius: 25px;
    border-color: transparent;
    background-color: #25C8C8;
    text-align: center;
    font-size: 18px;
    color: white;
}

.login-box form .submit-button {
    display: flex;
    justify-content: center;
}

.login-box form .submit-button button {
    margin: 20px;
    width: 138px;
    height: 49px;
    margin-top: 20px;
    border-radius: 25px;
    background-color: #4F46C9;
    font-size: 20px;
    align-items: center;
    color: white;
    border-color: transparent;
}

.login-box form .submit-button button:hover {
    transform: scale(1.1);
}

.login-box form .submit-button button:active {
    transform: scale(0.8);
}