body {
    background: linear-gradient(to right, #A6CFF4, #A6CFF4, #897CDF, #4F46C9);

}

/*login container*/
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-content {
    display: flex;
    justify-content: space-around;
    width: 1300px;
    margin: 100px;
    height: 642px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.login-content-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.login-content-box .gambar-content img {
    margin-right: 50px;
    width: 543px;
    height: 335px;
    border-radius: 25px;
}

.login-box {
    width: 45%;
    height: 629px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-box .title-login {
    width: 319px;
    height: 51px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #0F5F5F;
    font-size: 36px;
    font-weight: 550;
}

.login-box .title-login .line {
    width: 124px;
    height: 5px;
    background-color: #0F5F5F;
}

.login-box form {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.login-box form .main {
    display: flex;
    flex-direction: column;
}

.login-box form .main label {
    font-size: 20px;
    color: black;
    font-weight: 500;
    text-align: left;
}

.login-box form .main input {
    width: 321px;
    height: 48px;
    margin: 10px 0px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    color: balck;
}

.login-box form .submit-button {
    display: flex;
    justify-content: center;
}

.login-box form .submit-button button {
    margin: 20px;
    width: 138px;
    height: 49px;
    margin-top: 20px;
    border-radius: 25px;
    background-color: #4F46C9;
    font-size: 20px;
    align-items: center;
    color: white;
    border-color: transparent;
}

.login-box form .submit-button button:hover {
    transform: scale(1.1);
}

.login-box form .submit-button button:active {
    transform: scale(0.8);
}