* {
    margin: 0;

}

body {
    font-family: 'Poppins', sans-serif;

}

.navbar nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D1EEFE;
    width: 100%;
    height: 145px;
}

.navbar nav #logo img {
    width: 231px;
    height: 84px;
    margin-left: 60px;
}

.navbar .menus1 {
    padding: 10px;
    display: flex;

}

.navbar .menus1 li {
    width: 139px;
    height: 51px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .menus1 li:hover {
    transform: scale(1.5);
}

.navbar .menus1 li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: black;
}

.navbar .burger-menu {
    display: none;
}

.navbar .menus2 {
    display: none;
}

.navbar .menus2 ul {
    display: none;
}

@media screen and (max-width: 1024px) {
    .navbar nav {
        height: 70px;
    }

    .navbar nav #logo img {
        margin: 20px;
        width: 100px;
        height: 40px;
    }

    .navbar .menus1 {
        display: none;
    }

    .navbar .burger-menu {
        height: 60px;
        width: 60px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .navbar .burger-menu:hover {
        cursor: pointer;
    }

    .navbar .burger-menu div {
        width: 50px;
        height: 8px;
        background-color: #07006D;
        border-radius: 5px;
    }

    .navbar .menus2 {
        width: 100%;
        flex-direction: column;
        position: absolute;
        align-items: flex-end;
        z-index: 2;

    }

    .navbar .menus2 ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 200px;
        background-color: #D1EEFE;
    }

    .navbar .menus2 ul li {
        height: 60px;
        width: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar .menus2 ul li a {
        text-decoration: none;
        color: #07006D;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }

    .navbar .menus2 ul li a:hover {
        background-color: #07006D;
        color: white;
    }


}