.services {
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

.services .div {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.services .div .container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.services .tittle {
    font-size: 36px;
    width: 307px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #0e5e5e;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.services .text-wrapper {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #0e5e5e;
    font-size: 36px;
    letter-spacing: 0;
}

.services .span {
    font-size: 36px;
}

.line {
    width: 124px;
    height: 5px;
    background-color: #0F5F5F;
}

.services .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;
}

.services .box {
    width: 331px;
    height: 646px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.services .overlap-group {
    position: relative;
    width: 325px;
    height: 646px;
}

.services .container {
    position: absolute;
    width: 325px;
    height: 570px;
    top: 76px;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 15px;
}

.services .tittle-2 {
    top: 124px;
    left: 9px;
    font-size: 30px;
    position: absolute;
    width: 307px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #0e5e5e;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.services .boxconsult {
    position: absolute;
    width: 155px;
    height: 50px;
    top: 552px;
    left: 86px;
}

.services .text {
    width: 297px;
    top: 211px;
    left: 10px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.services .icon {
    left: 95px;
    background-color: #4f46c9;
    border-radius: 63.5px/62px;
    position: absolute;
    width: 127px;
    height: 124px;
    top: 0;
}

.services .icon-group {
    position: absolute;
    width: 127px;
    height: 124px;
    top: 0px;
    left: 0px;
}

.services .consult {
    top: 558px;
    left: 103px;
    position: absolute;
    width: 122px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.services .p {
    width: 297px;
    top: 211px;
    left: 19px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.services .img {
    left: 104px;
    position: absolute;
    width: 127px;
    height: 124px;
    top: 0;
}

.services .overlap-wrapper {
    position: relative;
    width: 325px;
    height: 641px;
}

.services .overlap {
    position: relative;
    width: 331px;
    height: 641px;
}

.services .overlap-group-wrapper {
    position: absolute;
    width: 331px;
    height: 570px;
    top: 71px;
    left: 0;
}

.services .overlap-group-2 {
    position: relative;
    width: 325px;
    height: 570px;
    background-color: #d9d9d9;
    border-radius: 15px;
}

.services .tittle-3 {
    top: 48px;
    left: 9px;
    font-size: 30px;
    position: absolute;
    width: 307px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #0e5e5e;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.services .consult-wrapper {
    position: absolute;
    width: 155px;
    height: 50px;
    top: 476px;
    left: 86px;
    background-size: 100% 100%;
}

.services .consult-2 {
    top: 6px;
    left: 17px;
    position: absolute;
    width: 122px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.services .boxconsult2 {
    position: absolute;
    width: 155px;
    height: 50px;
    top: 474px;
    left: 86px;
}

.services .text-2 {
    width: 286px;
    top: 135px;
    left: 19px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.services .icon-2 {
    left: 103px;
    position: absolute;
    width: 127px;
    height: 124px;
    top: 0;
}

@media screen and (max-width: 769px) {

    .services .div .container-title {
        margin-top: 25px;
    }

    .services .content {
        margin-top: 25px;
    }

    .services .box {
        margin: 12.5px;
    }
}