.services {
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

.services .div {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.services .div .container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.services .tittle {
    font-size: 36px;
    width: 307px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #0e5e5e;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.services .text-wrapper {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #0e5e5e;
    font-size: 36px;
    letter-spacing: 0;
}

.services .span {
    font-size: 36px;
}

.line {
    width: 124px;
    height: 5px;
    background-color: #0F5F5F;
}

.services .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;
}

.services .box {
    width: 331px;
    height: 646px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.services .overlap-group {
    position: relative;
    width: 325px;
    height: 646px;
}

.services .container {
    position: absolute;
    width: 325px;
    height: 570px;
    top: 76px;
    left: 0;
    background-color: #D1EEFE;
    border-radius: 15px;
}

.services .tittle-2 {
    top: 124px;
    left: 9px;
    font-size: 30px;
    position: absolute;
    width: 307px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #0e5e5e;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 20px;
}

.services .text {
    width: 297px;
    top: 211px;
    left: 10px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 20px;
}

.services .icon {
    left: 95px;
    background-color: #4f46c9;
    border-radius: 63.5px/62px;
    position: absolute;
    width: 127px;
    height: 124px;
    top: 0;
}

.services .icon-group {
    position: absolute;
    width: 127px;
    height: 124px;
    top: 0px;
    left: 0px;
}

.services .consult {
    top: 558px;
    left: 103px;
    position: absolute;
    width: 122px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.services .p {
    width: 297px;
    top: 211px;
    left: 19px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 20px;
}

.services .img {
    left: 104px;
    position: absolute;
    width: 127px;
    height: 124px;
    top: 0;
}

.services .overlap-wrapper {
    position: relative;
    width: 325px;
    height: 641px;
}

.services .overlap {
    position: relative;
    width: 331px;
    height: 641px;
}

.services .overlap-group-wrapper {
    position: absolute;
    width: 331px;
    height: 570px;
    top: 71px;
    left: 0;
}

.services .overlap-group-2 {
    position: relative;
    width: 325px;
    height: 570px;
    background-color: #D1EEFE;
    border-radius: 15px;
}

.services .tittle-3 {
    top: 48px;
    left: 9px;
    font-size: 30px;
    position: absolute;
    width: 307px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #0e5e5e;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 20px;
}

.services .consult-2 {
    top: 6px;
    left: 17px;
    position: absolute;
    width: 122px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 20px;
}

.services .text-2 {
    width: 286px;
    top: 135px;
    left: 19px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 20px;
}

.services .icon-2 {
    left: 103px;
    position: absolute;
    width: 127px;
    height: 124px;
    top: 0;
}

.consult a {
    text-decoration: none;
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-left: -60px;

}

.consult a button {
    cursor: pointer;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 22px;
    color: #FFFFFF;
    background-color: #4F46C9;
}


/* .button {
  display: block;
  text-align: center;
  padding: 10px 50px 10px 50px;
  background-color: #4f46c9;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
} */

.consult a button:hover {
    transform: scale(1.1);
}

.consult a button:active {
    transform: scale(0.9);
}

@media screen and (max-width: 769px) {

    .services .div .container-title {
        margin-top: 25px;
    }

    .services .content {
        margin-top: 25px;
        gap: 60px;
    }

    .services .box {
        margin: 12.5px;
    }
}
